In [1]:
import pyspark
from pyspark.sql import SparkSession
import pandas as pd
from pyspark.sql import types
from pyspark.sql import functions as F
import pandas as pd

# Read the gzip-compressed Parquet file into a DataFrame
# df = pd.read_parquet('file.parquet.gz', engine='pyarrow')

In [2]:
spark = SparkSession.builder \
        .config("spark.sql.parquet.compression.codec", "gzip") \
        .master('local[*]') \
        .appName('test') \
        .getOrCreate()

In [18]:
yellow_schema = types.StructType([
    types.StructField("VendorID", types.IntegerType(), True),
    types.StructField("tpep_pickup_datetime", types.TimestampType(), True),
    types.StructField("tpep_dropoff_datetime", types.TimestampType(), True),
    types.StructField("passenger_count", types.IntegerType(), True),
    types.StructField("trip_distance", types.DoubleType(), True),
    types.StructField("RatecodeID", types.IntegerType(), True),
    types.StructField("store_and_fwd_flag", types.StringType(), True),
    types.StructField("PULocationID", types.IntegerType(), True),
    types.StructField("DOLocationID", types.IntegerType(), True),
    types.StructField("payment_type", types.IntegerType(), True),
    types.StructField("fare_amount", types.DoubleType(), True),
    types.StructField("extra", types.DoubleType(), True),
    types.StructField("mta_tax", types.DoubleType(), True),
    types.StructField("tip_amount", types.DoubleType(), True),
    types.StructField("tolls_amount", types.DoubleType(), True),
    types.StructField("improvement_surcharge", types.DoubleType(), True),
    types.StructField("total_amount", types.DoubleType(), True),
    types.StructField("congestion_surcharge", types.DoubleType(), True)
])

green_schema = types.StructType([
    types.StructField("VendorID", types.IntegerType(), True),
    types.StructField("lpep_pickup_datetime", types.TimestampType(), True),
    types.StructField("lpep_dropoff_datetime", types.TimestampType(), True),
    types.StructField("store_and_fwd_flag", types.StringType(), True),
    types.StructField("RatecodeID", types.IntegerType(), True),
    types.StructField("PULocationID", types.IntegerType(), True),
    types.StructField("DOLocationID", types.IntegerType(), True),
    types.StructField("passenger_count", types.IntegerType(), True),
    types.StructField("trip_distance", types.DoubleType(), True),
    types.StructField("fare_amount", types.DoubleType(), True),
    types.StructField("extra", types.DoubleType(), True),
    types.StructField("mta_tax", types.DoubleType(), True),
    types.StructField("tip_amount", types.DoubleType(), True),
    types.StructField("tolls_amount", types.DoubleType(), True),
    types.StructField("ehail_fee", types.DoubleType(), True),
    types.StructField("improvement_surcharge", types.DoubleType(), True),
    types.StructField("total_amount", types.DoubleType(), True),
    types.StructField("payment_type", types.IntegerType(), True),
    types.StructField("trip_type", types.IntegerType(), True),
    types.StructField("congestion_surcharge", types.DoubleType(), True)
])

In [25]:
df_yellow = spark.read.parquet('data/raw/yellow/*/*',schema=yellow_schema)
df_green = spark.read.parquet('data/raw/green/*/*',schema=green_schema)

In [28]:
print(f'df_yellow_count = {df_yellow.count()}, df_green_count = {df_green.count()}')

df_yellow_count = 39656098, df_green_count = 840402

schema_check & normalization

In [29]:
df_yellow.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)

In [30]:
df_green.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- lpep_pickup_datetime: timestamp (nullable = true)
 |-- lpep_dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: integer (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: double (nullable = true)
 |-- trip_type: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [38]:
set(df_green.columns) & set(df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

In [43]:
# important columns (pickup & dropoff)
df_yellow = df_yellow \
    .withColumnRenamed('tpep_pickup_datetime','pickup_datetime') \
    .withColumnRenamed('tpep_dropoff_datetime','dropoff_datetime')


df_green = df_green \
    .withColumnRenamed('lpep_pickup_datetime','pickup_datetime') \
    .withColumnRenamed('lpep_dropoff_datetime','dropoff_datetime')

In [49]:
common_columns = []
yellow_columns = set(df_yellow.columns)
for col in df_green.columns:
    if col in yellow_columns:
        common_columns.append(col)

In [52]:
# df_green.select(common_columns).show()

union_all_df

In [57]:
df_yellow_sel = df_yellow \
    .select(common_columns) \
    .withColumn('service_type', F.lit('yellow'))

df_green_sel = df_green \
    .select(common_columns) \
    .withColumn('service_type', F.lit('green'))

In [62]:
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [67]:
# df_trips_data.show()
df_trips_data.groupBy('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green|  840402|
|      yellow|39656098|
+------------+--------+

In [66]:
# register_table
df_trips_data.registerTempTable('trips_data')

/opt/anaconda3/lib/python3.8/site-packages/pyspark/sql/dataframe.py:138: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn(

In [71]:
spark.sql("""
    
    SELECT 
        service_type,
        count(1)
    FROM
        trips_data
    GROUP BY
        service_type

""").show()

+------------+--------+
|service_type|count(1)|
+------------+--------+
|       green|  840402|
|      yellow|39656098|
+------------+--------+

In [73]:
spark.sql("""
    
    SHOW TABLES;

""").show()

+---------+----------+-----------+
|namespace| tableName|isTemporary|
+---------+----------+-----------+
|         |trips_data|       true|
+---------+----------+-----------+

In [74]:
df_result = spark.sql("""

SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month, 
    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

    -- Additional calculations
    AVG(passenger_count) AS avg_montly_passenger_count,
    AVG(trip_distance) AS avg_montly_trip_distance
FROM
    trips_data
GROUP BY
    1, 2, 3

""")

In [78]:
# df_result.show()
# df_result.write.parquet('data/report/revenue/')
df_result.coalesce(1).write.parquet('data/report/revenue/',mode='overwrite')

In [79]:
read_df_result = spark.read.parquet('/Users/richan/Documents/Richan/Pyspark/dags/data/report/revenue/part-00000-e7d68181-bea8-44b7-8761-07fcfc43dcde-c000.gz.parquet')

In [80]:
read_df_result.show()

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_montly_passenger_count|avg_montly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|          92|2022-03-01 00:00:00|       green|  10481.759999999997|               103.25|                  158.0|         553.1500000000001|           85.14999999999998|                   128.99999999999915|          11529.559999999978|                                22.0|        1.1036144578313254|       4.199930394431554|
|           4|2022-05-01 00:00:00|       green|  146.35000000000002|                  0.0|                    1.0|                     22.89|                        6.55|                                  1.2|                      183.49|                                 0.0|                       1.0|                  7.9875|
|         260|2022-06-01 00:00:00|       green|            16304.26|               347.25|                  444.0|        2168.1399999999994|          195.50000000000006|                    310.5000000000059|           19898.89999999984|                               126.5|         1.461847389558233|       81.87394661582462|
|         265|2022-03-01 00:00:00|       green|  2289.0099999999998|                  7.5|                   19.5|                    285.62|                       63.45|                    18.00000000000002|                     2688.58|                                 5.5|        1.3442622950819672|       6.339843749999999|
|         149|2022-05-01 00:00:00|       green|              642.78|                  1.5|                    7.5|        33.230000000000004|                        13.1|                    5.999999999999998|                      704.11|                                 0.0|        1.2352941176470589|                  4.2555|
|          41|2022-06-01 00:00:00|       green|  60205.400000000125|              1371.75|                 2057.5|         8567.199999999992|          1346.7999999999954|                   1456.4999999998722|           78785.85000000289|                             3236.25|        1.2592239942870744|       83.13747851002857|
|         255|2022-03-01 00:00:00|       green|   6080.540000000002|                85.75|                   91.0|        1082.3599999999997|          45.849999999999994|                   102.59999999999938|           7773.300000000009|                               159.5|         1.312169312169312|       76.61125364431483|
|          50|2022-05-01 00:00:00|       green|                26.2|                  0.0|                    0.5|                       0.0|                         0.0|                                  0.3|                        27.0|                                 0.0|                       1.0|                     0.0|
|         177|2022-03-01 00:00:00|       green|  1391.9499999999996|                  4.0|                   16.0|                     75.05|                        13.1|                   19.800000000000026|          1530.8999999999994|                                 0.0|        1.1025641025641026|      2.9292424242424238|
|          25|2022-04-01 00:00:00|       green|  13025.689999999995|               204.25|                  289.0|        1979.5500000000006|                        64.8|                     233.100000000003|          16172.489999999976|                               220.0|        1.2694214876033059|      3.4840153452685403|
|         234|2022-03-01 00:00:00|       green|               86.99|                  0.0|                    0.0|                     19.82|                        6.55|                                  0.6|          119.46000000000001|                                null|                      null|                   15.54|
|         155|2022-05-01 00:00:00|       green|              996.55|                  0.0|                    9.5|        25.869999999999997|                       19.65|                    8.399999999999999|                     1065.47|                                 0.0|                       1.0|       3.720714285714286|
|         244|2022-03-01 00:00:00|       green|   48637.00000000001|               1251.5|                 1145.5|         7439.550000000018|           781.6999999999991|                    777.5999999999749|           62960.80000000114|                              3008.5|        1.3019189765458423|       57.81201764480245|
|          15|2022-03-01 00:00:00|       green|  395.04999999999995|                  0.0|                    2.0|                       3.4|                         0.0|                   2.6999999999999997|                      403.15|                                 0.0|                       2.1|      2.3607692307692307|
|         260|2022-02-01 00:00:00|       green|  11198.720000000003|               272.25|                  328.5|        1274.2899999999995|                       136.2|                    230.1000000000029|          13561.059999999943|                              118.25|        1.4899057873485868|      3.2829533678756495|
|         112|2022-05-01 00:00:00|       green|   5135.799999999992|                 57.0|                   49.5|         895.4499999999997|           72.04999999999998|                    77.09999999999964|           6464.849999999997|                                93.5|         1.276190476190476|       484.9125291828791|
|          39|2022-03-01 00:00:00|       green|   2057.390000000001|                  3.5|                   21.5|                     14.57|           98.24999999999997|                   16.500000000000018|           2211.709999999999|                                 0.0|                       1.1|       1.188181818181818|
|         182|2022-05-01 00:00:00|       green|  1058.8700000000003|                  2.5|                   18.0|                     40.64|          45.849999999999994|                   15.300000000000015|          1183.9099999999996|                                 0.0|        1.0454545454545454|      1.7862745098039214|
|         116|2022-03-01 00:00:00|       green|  17817.969999999976|               308.75|                  476.0|         2319.409999999999|           301.8500000000002|                    361.8000000000079|          22400.729999999796|                              734.25|         1.304480651731161|      248.73544407894727|
|          52|2022-05-01 00:00:00|       green|   6052.369999999999|               102.25|                  155.5|        1073.8600000000008|           58.24999999999999|                   119.39999999999924|           7791.830000000017|                               165.0|        1.1379310344827587|       3.284243176178657|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
only showing top 20 rows